body, .h-100, .h-custom {
    background-color: #333333;
    font-family: Arial, sans-serif;
}

.card {
    background-color: #ffffff;
    padding: 2rem;
}

h3 {
    color: #333333;
    font-weight: bold;
    text-align: center;
    font-size: 1.8rem;
}

.form-label {
    font-weight: bold;
    color: #555;
}

.form-control {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.btn-success {
    background-color: #CFB87C;
    border: none;
    color: #333333;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 12px;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}

.btn-success:hover {
    background-color: #b39e6a;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

a {
    color: #CFB87C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

