<footer class="text-center text-muted w-100 mt-auto fixed-bottom">
    <p>
        Nothing else to see here.
        <a href = "/createpost">Make a new post!</a href>
    </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>