<header>
  {{#if isLoggedIn}}
  <nav class="navbar navbar-expand-sm border-bottom">
    <div class="container d-flex justify-content-between align-items-center">
      <!-- Navbar Toggler for Mobile View -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar-collapse"
        aria-controls="navbar-collapse"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse w-100" id="navbar-collapse">
        <!-- Left Section: Home Link -->
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
        </ul>

        <!-- Center Section: Create Post Link -->
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/createpost">Create Post</a>
          </li>
        </ul>

        <!-- Right Section: Logout Link -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {{/if}}
</header>